<div class="container">
  <h1>Mongo Note App</h1>
  <div id="userinput">
    <p>Title</p>
    <input type="text" id="title" />
    <br>
    <p>Note</p>
    <textarea id="note"></textarea>
    <div id="buttons">
      <div id="actionbutton">
        <button id="makenew">Submit</button>
      </div>
      <button id="clearall">Delete All Notes</button>
    </div>
  </div>

  <div id="results"></div>
</div>